<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>shopping-cart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>cn.shivam.servlet.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecServlet</display-name>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <url-pattern>/quantity-inc-dec-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServlet</display-name>
    <servlet-name>OrderNowServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.OrderNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServlet</servlet-name>
    <url-pattern>/order-now</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/cart-check-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/cancel-order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NavbarServlet</display-name>
    <servlet-name>NavbarServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.NavbarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavbarServlet</servlet-name>
    <url-pattern>/navbar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductsServlet</display-name>
    <servlet-name>AddProductsServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.AddProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductsServlet</servlet-name>
    <url-pattern>/add-products2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadProductServlet</display-name>
    <servlet-name>UploadProductServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.UploadProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadProductServlet</servlet-name>
    <url-pattern>/upload-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrderServlet</display-name>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/place-order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartActionsServlet</display-name>
    <servlet-name>CartActionsServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.CartActionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartActionsServlet</servlet-name>
    <url-pattern>/cart-actions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminManageUsers</display-name>
    <servlet-name>AdminManageUsers</servlet-name>
    <servlet-class>cn.shivam.servlet.AdminManageUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageUsers</servlet-name>
    <url-pattern>/admin-manage-users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminManageProducts</display-name>
    <servlet-name>AdminManageProducts</servlet-name>
    <servlet-class>cn.shivam.servlet.AdminManageProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageProducts</servlet-name>
    <url-pattern>/admin-manage-products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminManageOrders</display-name>
    <servlet-name>AdminManageOrders</servlet-name>
    <servlet-class>cn.shivam.servlet.AdminManageOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageOrders</servlet-name>
    <url-pattern>/admin-manage-orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProductServlet</display-name>
    <servlet-name>RemoveProductServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.RemoveProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProductServlet</servlet-name>
    <url-pattern>/remove-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUserServlet</display-name>
    <servlet-name>RemoveUserServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.RemoveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserServlet</servlet-name>
    <url-pattern>/remove-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/update-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>cn.shivam.servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/update-product</url-pattern>
  </servlet-mapping>
</web-app>